<h1>Register for our Events!</h1>
<table width="500" border="0" cellpadding="5">

  <tr>

    <td align="center">
      <img src="https://scontent.fcbr1-1.fna.fbcdn.net/v/t1.0-9/121471523_781113222730754_3642412133379164224_n.jpg?_nc_cat=110&_nc_sid=730e14&_nc_ohc=5V6mxDLSSHcAX9s1gt6&_nc_ht=scontent.fcbr1-1.fna&oh=dbc64873f2cebc78eea410b54016e27a&oe=5FAB487D" width="400" height="275" />
      <br />
      Dalan 6
    </td>

    <td align="center">
      <a href="https://fb.me/e/2RzSm72br">
        <img src="https://scontent.fcbr1-1.fna.fbcdn.net/v/t1.0-9/109245585_716820529160024_3264994240310024987_o.jpg?_nc_cat=104&_nc_sid=340051&_nc_ohc=lpK72sWWdNsAX9UROWF&_nc_ht=scontent.fcbr1-1.fna&oh=f76a9ba822443ca0309ad54baa696ed2&oe=5FAA2A0F" width="400" height="275" />
      </a>
        <br />
        Janai Purnima 2077
    </td>

    <td align="center">
      <a href="https://fb.me/e/2RzSm72br">
        <img src="https://scontent.fcbr1-1.fna.fbcdn.net/v/t1.0-9/106583083_705124053663005_552132748394571734_n.jpg?_nc_cat=103&_nc_sid=340051&_nc_ohc=V5wANjVxa3sAX-dQ7OT&_nc_ht=scontent.fcbr1-1.fna&oh=3e198c1b6c4f311074ff659cc62df2a3&oe=5FAD6615" width="275" height="400" />
      </a>
      <br />
      Picnic in the Park 2020
    </td>

  </tr>

  <tr>

    <td align="center">
      <a href="https://fb.me/e/1Eh2tJl9H">
        <img src="https://scontent.fcbr1-1.fna.fbcdn.net/v/t1.0-9/72746514_519602458881833_7384958474607656960_o.jpg?_nc_cat=105&_nc_sid=340051&_nc_ohc=65ZYlsTOrGgAX9Si2nl&_nc_ht=scontent.fcbr1-1.fna&oh=3b50765031f2b0c91e45b61df20f5ae5&oe=5FACABC2" width="275" height="400" />
      </a>
      <br />
      Cultural Night 2019
    </td>

    <td align="center">
      <a href="https://fb.me/e/1xKvUxHUd">
        <img src="https://scontent.fcbr1-1.fna.fbcdn.net/v/t1.0-9/69162123_479988752843204_8757745209137168384_o.jpg?_nc_cat=111&_nc_sid=340051&_nc_ohc=g2W7ibY8jbkAX-L5djP&_nc_ht=scontent.fcbr1-1.fna&oh=34aac702af74c5af22e0401821d5d4ca&oe=5FABAD5E" width="275" height="400" />
      </a>
      <br />
      Meet & Greet 2019
    </td>

    <td align="center">
      <a href="https://fb.me/e/2xpJu2gtW">
        <img src="https://scontent.fcbr1-1.fna.fbcdn.net/v/t1.0-9/45736472_307836320058449_6381781614661206016_o.jpg?_nc_cat=104&_nc_sid=340051&_nc_ohc=6U1ahegGTcYAX9_RsJB&_nc_ht=scontent.fcbr1-1.fna&oh=734c822db621bb762af0f88007ee0669&oe=5FAC963C" width="275" height="400" />
      </a>
      <br />
      CDU Student Night 2018
    </td>

  </tr>

</table>
