<h1>Hello, world!</h1>
<h2>Welcome to our Student Association <i>CDUNSA</i></h2>
<ul>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3j96JdauBF4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/XGK5JOoJxxU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <iframe width="560" height="315" src="https://www.youtube.com/embed/7HJXW6sVGlg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
 
</ul>
<p>To help you get started</p>
<ul>
  <li>
    <strong>Description</strong>. CDU Nepalese Student Association (CDU NSA) is a group of Nepalese
    students in Charles Darwin University (CDU).
  </li>
  <li><strong>Video</strong>This video was prepared for the virtual orientation conducted by CDU for Semester 2, 2020. The video is also available on CDU's official website.</li>
  <li>Artists: CDU NSA Team 2020, Anita Thapa, Sashim Maskey
Written & Directed By: Govinda Sapkota & Sujan Kafle
Video: Shardul Imaging (Shardul Bhardwaj)
Editor: BP Bhandari 
Locations: CDU Casurina Campus, Nightcliff Foreshore, The Lunch Room Cafe
</li>
</ul>
<p>We are a group of students who wish to help nepalese students</p>
